fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
PyJWT
python-multipart
redis
pydantic
email-validator
bcrypt==4.0.1
Pillow
python-jose
livekit-api==1.0.7
mollie-api-python
httpx
python-dotenv
fastapi-mail











